
# BANCO DE DADOS 

*.db
*.sqlite
*.sqlite3
database/*.db
database/*.sqlite
database/*.sqlite3
!database/.gitkeep

# CACHE E COMPILAÇÃO DO PYTHON

__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
*.so

# AMBIENTES VIRTUAIS (MUITO IMPORTANTE)

venv/
.venv/
env/
.env
ENV/
env.bak/
venv.bak/
virtualenv/

# DISTRIBUIÇÃO / EMPACOTAMENTO

build/
dist/
*.egg-info/
*.egg
.eggs/
wheels/
*.spec
pip-log.txt
pip-delete-this-directory.txt


# FERRAMENTAS DE TESTE E COBERTURA

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.cache/
nosetests.xml
coverage.xml


# IDEs E EDITORES

.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject

# JUPYTER / NOTEBOOKS

.ipynb_checkpoints/

# ARQUIVOS DE SISTEMA OPERACIONAL

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Linux
.directory
.Trash-*
*~

# ==========================================

# LOGS E ARQUIVOS TEMPORÁRIOS
*.log
logs/
*.bak
*.tmp
*.temp
*.old

# ARQUIVOS DE CONFIGURAÇÃO SENSÍVEIS
secrets.json
config.local.py
*.pem
*.key